language: cpp
compiler:
  - clang

sudo: required

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - boost-latest
    packages:
    - libboost1.55-all-dev
    - cmake

before_script:
  - ./travisBuildSGH.sh
script: ./travisRunSGH.sh
