language: cpp
compiler:
  - gcc
  - clang

sudo: required

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    - boost-latest
    packages:
    - gcc-4.8
    - g++-4.8
    - libboost1.55-all-dev
    - cmake

install:
- if [ "$CXX" = "g++" ]; then export CXX="g++-4.8 -std=c++11" CC="gcc-4.8"; fi

before_script:
  - ./travisBuildSGH.sh
script: ./travisRunSGH.sh
